body {
	font-family: 'ヒラギノ角ゴ Pro W3','Osaka','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0; bottom: 0;
	width: 100%;
}

/* キリの良い数字に直しただけ */
.main-menu {
  width: 70%;
}

/* ハンバーガーメニューの戻るボタン */
.ham_layer {
    z-index: 30;
    width : 100%;
    height : 40px;
    border: 1px solid;
    background-color: #343a40!important;
    cursor: pointer;
}
.hamburger_back {
    width : 40px;
    height : 40px;
    border: 1px solid;
  }

/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  z-index : 3;
  right : 0px;
  top   : 5px;
  width : 30%;
  height: 40px;
  cursor: pointer;
  text-align: center;
}

.menu_title {
  color: #fff;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  text-decoration:none;
}

.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 5px;
  background : #fff;
  border-color:#fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 15px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  z-index : 2;
  top  : 0;
  left : 80%;
  color: #000;
  background: #fff;
  text-align: left;
  transform: translateY(-150%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #ffff;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#c8c8c8;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}

.sub_layer {
    position:absolute;
    right: 100%;
    top: 5%;
}

.sab_back {
	border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0.5rem !important;
}

.side-menu {
    position: fixed;
    top: 0;
    left:  100%;
    width: 30%;
    height: 100%;
    z-index: 10;
    /* 右ペイン全体の色指定 */
    background-color: #f8f9fa;
    /* 検索結果エリアを下まで埋められるようdisplay:flex指定 */
    display: flex;
}

.side-menu2 {
  position: fixed;
  top: 0;
  left:  70%;
  width: 30%;
  height: 100%;
  z-index: 10;
  /* 右ペイン全体の色指定 */
  background-color: #f8f9fa;
  /* 検索結果エリアを下まで埋められるようdisplay:flex指定 */
  display: flex;
}

.side-menu_back {
	border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0.5rem !important;
}

/*
 * Hide high-res map rendering
 */
.hidden-map {
    overflow: hidden;
    height: 0;
    width: 0;
    position: fixed;
}

/* キリの良い数字に直しただけ */
.layer1 {
  position:absolute;
  right: 110%;
  top: 20px;
  width: 300px;
}

/* 航空写真/地形図 */
.map_menu {
  width: 100%;
  padding: .1em;
}

/* 台帳タブ */
.ledger_tab {
	border : 2px solid #828cb2;
	padding: .1em 1.25em;
	min-width: 10em;
}
.ledger_tab:hover {
	border : 2px solid #828cb2;
}
/* 台帳タブのエリア */
.panel_tabkey_area {
	margin: .5em 1.5em;
}

/*検索メニューヘッダ*/
.header_search {
	margin: .1em;
	padding-bottom: 20px;
	border-bottom: 2px solid #f8f9fa
}
/*検索メニューの下のボーダー*/
.border_search {
	border-top: 2px solid #f8f9fa
}

/* 検索フォーム行 */
.search_form_row:first {
  border : 2px solid #000;
	padding-top: 0px;
}
.search_form_row {
	margin: .1em;
	padding-top: 5px;
	padding-bottom: 5px;
}
.search_form_row:last {
	padding-bottom: 0px;
}
/* 検索フォーム部品 */
.search_form_item {
	padding: 0em .2em;
	border: 2px solid #828cb2;
	height: 1.75em;
}
/* 検索ボタン */
.search_button {
	width: 8em;
}

/* 現地確認行程追加ボタン */

.add_genchi {
  margin-top: 0.5em;
	width: 12em;

}

/* 検索結果行列 */
.search_detail_col {
    padding: 0;
}
/* 削除ボタン */
.delete_button {
    border : 2px solid #828cb2;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 10px;
}
.delete_button:hover {
    border : 2px solid #828cb2;
}
/* 検索結果エリア */
.search_detail_area {
	margin: .5em 1.5em;
}

/*レイヤー選択の高さを狭くする*/
.list-group .list-group-sm{
  padding: .1rem 1.25rem;
}

.button_th {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  padding-right:20px;
  padding-left:20px;
  height: 25px;
  font-size: 15px
}

/*チェックボックスとボックス非表示*/
input[name="check2"] {
	display: none;
}

/*タブボタンとボックス連動*/
#gsi-picture:checked~.tab_gsi1 {
	background: #f5f5f5;
	color: #000000;
}
#gsi-vector:checked~.tab_gsi2 {
	background: #f5f5f5;
	color: #000000;
}

/* 虫眼 */
#_3757_c {
	fill: rgba(38,41,52,1);
}

._3757_c {
	overflow: visible;
	position: absolute;
	width: 16.069px;
	height: 17.044px;
	margin-top:2.5px;
	transform: matrix(1,0,0,1,0,0);
}

