/*Mapコントローラーとサブメニューに関するCSS*/
/*内容にってはmap.cssと統合する*/

.tab_contents {
	background-color: #ffffff;
	width: 100%;
	/*height: 99vh;*/
	height: 100%;
	background-color: white;
	
	display: flex;
	flex-direction: column;
}
.tab_contents nav{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
.tab_contents nav .navbar-collapse{
	height:100%;
}
.tab_contents nav .navbar-collapse .navbar-nav{
	height:100%;
}
.tab_contents nav .navbar-collapse .navbar-nav .nav-item:nth-child(1){
	width: 12%;
}
.tab_contents nav .navbar-collapse .navbar-nav .nav-item:nth-child(2){
	width: 19%;
}
.tab_contents nav .navbar-collapse .navbar-nav .nav-item:nth-child(3){
	width: 22%;
}
.tab_contents nav .navbar-collapse .navbar-nav .nav-item:nth-child(4){
	width: 15%;
}
.tab_contents .dropdown-menu {
	padding: 0;
}
.tab_contents .dropdown-item{
	text-decoration: none;
}
.tab_contents .dropdown-item:first-child{
	padding-top: 0.75em;
	border-radius: .25em .25em 0 0;
}
.tab_contents .dropdown-item:last-child{
	padding-bottom: 0.75em;
	border-radius:  0 0 .25em .25em;
	margin-bottom: 0;
}
.tab_contents .dropdown-item.text-primary{
	text-decoration: underline;
}
/*モックアップ用：リンク先がない場合はカーソルを変更する*/
.tab_contents a.dropdown-item:not[href]{
	cursor: default;
}

/* 台帳タブ */
/* 台帳タブのエリア */
.panel_tabkey_area {
	margin: .5em 1.5em;
}
.panel_tabkey_area .nav-item + .nav-item{
	margin-left: 0.5em;;
}
.panel_tabkey_area .btn {
	border : 2px solid #828cb2;
	padding: .1em 1.25em;
	min-width: 10em;
}
.panel_tabkey_area .btn:hover {
	border : 2px solid #828cb2;
}

/*タブ制御部分*/
.tab-content{
	flex-grow: 1;
}

/*ボタンエリア*/
.tab-content .button_area{
	display: flex;
	margin: 0.1em;
	padding-top: 4px;
	padding-bottom: 6px;
	border-bottom: 2px solid #f8f9fa;
}
.tab-content .button_area .btn-dark{
	display: block;
	margin-left: 15px;
	padding-top:10px;
	padding-bottom:10px;
	min-width:20%;
	cursor: default;
}

/*検索イメージ*/
.search_title{
	border-bottom: 2px solid #f8f9fa;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 15px;
}
.search_title ._3757_c{
	overflow: visible;
	position: static;
	display: inline-block;
	width: 16.069px;
	height: 17.044px;
	margin-top: 0;
	transform: matrix(1,0,0,1,0,0);
	margin-right: 0.5em;
}

.search_form_row label{
	margin-top: 5px;
	margin-bottom: 0.25em;
}
.search_form_row input.search_form_item_area{
	width: 106px;
	display: inline-block;
}
.search_form_row input.search_form_item_area + label{
	margin-left: 2em;
	margin-right: 2em;
	display: inline-block;
}
.search_form_row .col-lg-10 label{
	display: inline-block;
}
.search_form_row .col-lg-10 label + label{
	margin-left: 1em;
}
.search_form_row.search_button_area{
	text-align: center;
	padding: 16px;
}


/*タブボタンデザイン*/
.tab_lab1, .tab_lab2, .tab_lab3 {
	background: #d3d3d3;
	color: #000000;
	width: 30%;
	border: 1px solid;
    margin-left: -6px;
    padding-top: 10px;
    text-align: center;
}

/*テーブルのデザイン*/
/*.data_list {
	width: 90%;
	height: 70%;
}*/

#suidenTable,
table.data_list,
table.search_detail_area{
	width: calc(100% - 3em);
	height: calc( 100vh - 608px);
	overflow: hidden;
}
.search_detail_area thead{
	display: block;
}
.search_detail_area tbody{
	display: block;
	overflow-y:scroll;
	height:95%;
/*	width:97.3%;*/
}
table.data_list th,
table.data_list td{
	padding: 2px;
}
/*
table.data_list .sakuki{
	width: calc( 4em + 8px);
}table.data_list .sakumotsumei{
	width: calc( 5em + 8px);
}
table.data_list .chimoku{
	width: calc( 5em + 8px);
}
*/
/* テーブル */
/* 罫線 */
/*こっち使ってます*/
th.data_list {
	font-weight: inherit;
	border-top: 1.5px solid #e5eafc;
	border-left: 1.5px solid #ffffff;
	border-right: 1.5px solid #ffffff;
	background-color: #e5eafc;
}
th.data_list:first-child {
	border-left: 1.5px solid #e5eafc;
}
th.data_list:last-child {
	border-right: 1.5px solid #e5eafc;
}
td.data_list {
	border: 1.5px solid rgba(38,41,52,1);
}

td.data_list:first-child {
	border-left: 1.5px solid #ffffff;
}

td.data_list:last-child {
	border-right: 1.5px solid #ffffff;
}

.data_listSize1 {
	width: 174px;
}
.data_listSize1 input{
	margin-right: .25em;
}

.data_listSize2 { /*地目（5文字まで =15*5+2+2）*/
	width: 84px;
}
.data_listSize3 {
	width: 64px;
	white-space: nowrap;
	overflow-x: hidden;
	text-align: right;
}
.data_listSize4 {
	width: 120px;
}
.data_listSize5 {
	width: 120px;
}
.data_listSize6 {
	width: 18px;
}
.data_listSize7 { /*作期（4文字まで =15*4+2+2）*/
	width: 72px;
}
.data_listSize8 { /*作物名*/
	width: 120px;
}

.panel {
	padding: 0px;
	display: none;
}

.panel_table1 {
	margin-left: -20px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	height:79vh;
}

.panel_table2 {
	display: flex;
	/*margin-left: -20px;*/
	font-size: 15px;
	background: #ffffff;
	width: 100%;
	
	/* 縦方向に伸ばす */
	flex-direction: column;
	flex-basis: 0;
	justify-content: flex-start;
	flex-grow: 1;
}

.panel_content {
	/*margin-top:  -7px;*/
	margin: 0em;
	background: #e5eafc/*#f5f5f5*/;
	/*margin-left: -10px;*/
	/*height:90vh;*/
	height: 100%;
	display: flex;
	flex-basis: 0;
	flex-direction: column;
}

/* テーブル */
select {
	width: 200px;
	height: 30px;
	position:relative;
}

.addbutton {
	width: 200px;
	height: 50px;
	position:relative;
}

a {
	text-decoration: underline;
	color:#4169e1;
}

.list{
  padding-top:5px;
  background-color:#fbfbfb;
}

.list a{
  display:block;
  text-decoration: none;
  line-height: 40px;
  color:#888;
}
.hover{
  background-color:#fcd69e;
}

.foldingLayer {
  position:absolute;
  left: -30px;
  top: 45%;
}

.foldingButton {
  text-align: center;
  background-color: silver;
  display: block;
  padding-right:5px;
  padding-left:5px;
  height: 50px;
  font-size: 15px
}

.addListButton {
	width: 30%;
	height: 50px;
	margin-left : -20px;
	position:relative;
}

/* → */
#Arrow_tw {
	fill: rgba(38,41,52,1);
}
.Arrow_tw {
	overflow: visible;
	position: absolute;
	width: 25px;
	height: 25px;
	left: 6.5px;
	top: 6.5px;
	transform: matrix(1,0,0,1,0,0);
}

/* 削除マーク */
#Abstract_bms {
	fill: rgba(126,136,173,1);
}

.Abstract_bms {
	overflow: visible;
	position: absolute;
	width: 27.82px;
	height: 27.82px;
	transform: matrix(1,0,0,1,0,0);
}

#_1477 {
	position: absolute;
	width: 27px;
	height: 27px;
	overflow: visible;
}

.toggle {
	display: none;
}

.show {
	display: table-row;
}
